<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,initial-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
	<title>往返司机端微信</title>
	<link rel="shortcut icon" type="image/ico" href="favicon.ico" />
	<link href="apple-touch-icon-precomposed.png" rel="apple-touch-icon-precomposed">
	<link rel="stylesheet" type="text/css" href="./css/driver.css">
	<script type="text/javascript" src="./js/common.js"></script>
</head>
<body>
	<div v-cloak id="driver">
		<article :class="['driver-bg',pageNav==0?'':'hide']">
			<header class="logo_top flex">
				<div></div>
				<div>
					<p>官方认证</p>
					<p>2000万以上出行用户都在用</p>
				</div>
			</header>

			<section class="driver-main">
				<h2>往返送红利</h2>
				<ul>
					<li><i>1</i>连接往返WiFi，输入手机号并签到</li>
					<li><i>2</i>吆喝乘客下载往返APP，并登录</li>
				</ul>

				<div class="driver-box">
					<div :class="['driver-item',tabNav==0?'active':'']">
						<div class="input-box">
							<input v-model="tel" class="tel" maxlength="11" placeholder="请输入手机号" type="tel" />
							<p><i></i>必填</p>
						</div>
						<nav class="driver-btn">
							<a class="a_c active" @click="registry()" href="javascript:;">去签到</a>
							<a class="a_c" @click="checkIncome()" href="javascript:;">查收入</a>
						</nav>
					</div>

					<div :class="['driver-item',tabNav==1?'active':'']">
						<div class="input-box">
							<input class="yzm" maxlength="6" placeholder="请输入验证码" v-model="code.val" type="tel" />
							<a :class="[code.iCount==60?'active':'']" @click="sendCode()" href="javascript:;">{{this.code.msg}}</a>
						</div>
						<nav class="driver-btn">
							<a class="a_c no_bg" @click="tabNav=0" href="javascript:;">返回</a>
							<a class="a_c" @click="verification()" href="javascript:;">验证</a>
						</nav>
					</div>

				</div>
			</section>
		</article>

		<article :class="['driver-bg2',pageNav==1?'':'hide']">
			<header class="logo_top flex">
				<div></div>
				<div>
					<p>官方认证</p>
					<p>2000万以上出行用户都在用</p>
				</div>
			</header>

			<section class="driver-detail">
				<p><span>我的收入</span><span>累计:<i>{{totalIncome}}元</i></span></p>
				<table class="driver-table">
					<thead>
						<tr><th>日期</th><th>总收入</th><th>是否到账</th></tr>
					</thead>
					<tfoot><tr><td colspan="3"></td></tr></tfoot>
					<tbody>
						<tr v-for="item in income"><td>{{item.income_date|ymd}}</td><td>{{item.total_income}}元</td><td :class="item.is_payed==1?'':'color_red'" v-text="item.is_payed==1?'是':'否'"></td></tr>
					</tbody>
				</table>
			</section>

			<a @click="pageNav=0" class="driver-close" href="javascript:;">关闭</a>
		</article>

		<driver-alert :title="driver.title" :is-hide="driver.isHide" :status="driver.status" :message="driver.message"></driver-alert>
		<loading v-if="isLoading" :status="1"></loading>
	</div>
	
	<script type="text/javascript" src="./js/driver.js"></script>
</body>
</html>