@mixin bg($img,$x:100%,$y:100%){
	background-repeat: no-repeat;
	background-image: url('../images/#{$img}');
	background-size: $x $y;
}
@mixin bg2($img,$x:100%,$y:100%,$complete:false){
	background-repeat: no-repeat;
	@if $complete{
		background-image: url('../images/#{$img}');
		background-image: -webkit-image-set(
		url('../images/#{$img}') 2x,
		url('../images/#{$img}') 3x);
	} @else {
		background-image: url('../images/#{$img}@2x.png');
		background-image: -webkit-image-set(
		url('../images/#{$img}@2x.png') 2x,
		url('../images/#{$img}@3x.png') 3x);
	}
	background-size: $x $y;
}
@mixin common-fixed($top:0){
	position: fixed;
	top: $top;
	left: 50%;
	width: 7.5rem;
	margin-left: -3.75rem;
}
@mixin eps{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.hide{
	display: none;
}
.show{
	display: block;
}

.flex{
	display: flex;
	box-align: center;
	align-items: center;
	.flex-child{
		display: block;
		flex: 1;
	} 
}

.flex2{
	@extend .flex;
	box-orient: vertical;
	flex-direction: column;
}

[v-cloak]{display:none;}